/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
 background: linear-gradient(135deg, #0023FF, #7A00FF);
  background-repeat: no-repeat; 
   background-size: cover;  
    background-attachment: fixed;  
  font-family: sans-serif;
}

#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav li.active{
  text-decoration: underline;
}
